* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

body {
  background-color: rgb(214, 241, 250);
  display: flex;
}

content {
  display: flex;
  background-color: rgb(214, 241, 250);
  height: 100vh;
  flex-grow: 1;
}

aside {
  display: flex;
  flex-direction: column;
  width: 15rem;
  min-width: 10rem;
  height: 100vw;
  background-color: rgb(153, 226, 248);
}

button {
  background-color: azure;
}

button:hover {
  background-color: rgb(199, 235, 235);
}

.addBtn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  background-color: rgb(214, 241, 250);
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 5px;
}

.taskList {
  margin: 10px;
  width: 70%;
  height: 25px;
  border-radius: 5px;
  align-self: center;
}

.taskContainer {
  display: flex;
  flex-direction: column;
  margin: 15px;
  flex-grow: 1;
  min-height: 300px;
  min-width: 200px;
  height: fit-content;
  max-width: 300px;
  background-color: azure;
  border-radius: 5px;
}

.taskContainer > * {
  padding-left: 1rem;
}

.oneTaskContainer {
  margin: 25px;
  margin-bottom: 0px;
  margin-right: 5px;
}

.projectTitle {
  margin: 15px 0px;
}

.todoListIsChecked {
}

#newProjectBtn {
  font-size: large;
}

.addTaskBtn {
  text-align: right;
  border-bottom: 2px solid;
  padding-bottom: 15px;
  padding-right: 1rem;
  margin: 5px;
}
